*{
    box-sizing: border-box;
    font-family: 'Libre Baskerville', serif;
    margin: 0rem;

}

.h2{
    
    font-size: 10px;
    text-align: center;
    padding: 2rem;
}

.p{
    
    font-size: 10px;
    text-align: center;
    padding: 2rem;
}